.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*{
  font-family: 'Open Sans', sans-serif;
}
.main-wrapper{
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: auto;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.login-wrapper{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #008265;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login-header{
  font-size: 20px;
  color: #757575;
  margin-bottom: 1.5em;
  text-align: center;
}
.bottom-link-wrapper{
  margin-top: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  color: #757575;
  flex-wrap: wrap;
}
.bottom-link{
  color: #757575;
}
.bottom-institution-info{
  margin-top: 10px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.bottom-institution-link{
  color: #FFFFFF;
}
.bottom-institution-info p{
  margin: 5px;
}
.login-sub-wrapper{
  width: 30%;
  min-height: 35vh;
  padding-bottom: 0.6em;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  box-shadow:0 4px 6px rgba(50,50,93,0.20),0 1px 3px rgba(0,0,0,0.10);
}
.email-input-wrapper{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.email-input{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 85%;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 3px solid #F4F5F7;
  color: #757575;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  box-shadow:0 4px 6px rgba(50,50,93,0.10),0 1px 3px rgba(0,0,0,0.05);
}
.email-input:focus{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 3px solid #008265;
}
.search-input-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 80%;
}
.search-input-icon{
  display: inline-block;
  position: absolute;
  margin-left: 1em;
  cursor: pointer;
}
.search-input{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(85% - 50px);
  height: 35px;
  border-radius: 8px;
  background-color: #F4F5F7;
  color: #000000;
  padding-left: 60px;
  padding-right: 15px;
  font-size: 16px;
  box-shadow: none;
  border: none;
}
.search-input:focus{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1.5px solid #008265;
}
.search-input::placeholder{
  color: #000000;
}

.password-input-wrapper{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}
.password-input{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: calc(85% - 30px);
  height: 40px;
  border-radius: 8px;
  border: 3px solid #F4F5F7;
  background-color: #FFFFFF;
  color: #757575;
  padding-left: 10px;
  padding-right: 40px;
  font-size: 16px;
  box-shadow:0 4px 6px rgba(50,50,93,0.10),0 1px 3px rgba(0,0,0,0.05);
}
.password-input:focus{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 3px solid #008265;
}
.password-toggle{
  position: absolute;
  right: 1.6rem;
  cursor: pointer;
  
}

.primary-button{
  width: 80%;
  background-color: #008265;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #FFFFFF;
  box-shadow:0 4px 6px rgba(50,50,93,0.10),0 1px 3px rgba(0,0,0,0.10);
  cursor: pointer;
  white-space: nowrap;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 3px solid rgba(255, 255, 255, 0.23);
-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
color: #ffffff;
text-transform: uppercase;
-webkit-transition: all 0.1s ease;
-ms-transition: all 0.1s ease;
-moz-transition: all 0.1s ease;
-o-transition: all 0.1s ease;
transition: all 0.1s ease;
	box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.3);
}
.primary-button:focus{
  outline: none;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.5);
}
.logo{
  height: 160px;
  width: auto;
}
.sidebar-logo{
  height: 160px;
  width: auto;
  margin-top: 0.5em;
}
.svg-loader {
  -webkit-animation: spin1 2s infinite linear;
  -moz-animation: spin1 2s infinite linear;
  -o-animation: spin1 2s infinite linear;
  -ms-animation: spin1 2s infinite linear;
  animation: spin1 2s infinite linear;
  transform-origin: 50% 50%;
  display: block;
  }
   
  @-webkit-keyframes spin1 {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
  }
  @-moz-keyframes spin1 {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
  }
  @-o-keyframes spin1 {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
  }
  @-ms-keyframes spin1 {
  0% { -ms-transform: rotate(0deg);}
  100% { -ms-transform: rotate(360deg);}
  }
  @keyframes spin1 {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
  } 
  /*For Smallest Screens */
  @media only screen and (min-width: 320px) and (max-width: 568px) {
    .main-sidebar{
      display: none!important;
    }
    .sub-section-styled{
      margin-top: 3%;
      width: 85%;
      min-height: 470px;
      height: auto;
      border-radius: 6px;
      background-color: #ffffff;
      padding-bottom: 3.5em;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .login-sub-wrapper{
      width: 90%;
      min-height: 35vh;
      padding-bottom: 1.5em;
      height: auto;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      border-radius: 8px;
      box-shadow:0 4px 6px rgba(50,50,93,0.20),0 1px 3px rgba(0,0,0,0.10);
    }
    .bottom-link{
      color: #757575;
      width: 100%;
    }
  }
  /*For smaller screens*/
  @media only screen and (min-width: 360px) and (max-width: 640px) {
    .main-sidebar{
      display: none!important;
    }
    .sub-section-styled{
      margin-top: 3%;
      width: 85%;
      min-height: 470px;
      height: auto;
      border-radius: 6px;
      background-color: #ffffff;
      padding-bottom: 3.5em;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .login-sub-wrapper{
      width: 90%;
      min-height: 35vh;
      padding-bottom: 1.5em;
      height: auto;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      border-radius: 8px;
      box-shadow:0 4px 6px rgba(50,50,93,0.20),0 1px 3px rgba(0,0,0,0.10);
    }
  }
  /*For Large Screens*/
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-sidebar{
      display: none!important;
    }
    .sub-section-styled{
      margin-top: 3%;
      width: 65%;
      min-height: 500px;
      height: auto;
      border-radius: 6px;
      background-color: #ffffff;
      padding-bottom: 3.5em;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .sub-section-styled-apply-inbox{
      margin-top: 3%;
      width: 60%;
      min-height: 500px;
      height: auto;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .stepper-wrapper{
      width: 15%;
      min-height: 720px;
      background-color: #ffffff;
      height: auto;
      margin-right: 55px;
      margin-top: 2.5%;
      border-radius: 6px;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .stepper-wrapper-inbox{
      width: 30%;
      min-height: 720px;
      background-color: #ffffff;
      height: auto;
      margin-right: 55px;
      margin-top: 2.5%;
      border-radius: 6px;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .login-sub-wrapper{
      width: 70%;
      min-height: 30vh;
      padding-bottom: 1.5em;
      height: auto;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      border-radius: 8px;
      box-shadow:0 4px 6px rgba(50,50,93,0.20),0 1px 3px rgba(0,0,0,0.10);
    }
    .password-input{
      width: calc(85% - 40px);
      height: 40px;
      border-radius: 8px;
      border: 3px solid #F4F5F7;
      background-color: #FFFFFF;
      color: #757575;
      padding-left: 10px;
      padding-right: 50px;
      font-size: 16px;
      box-shadow:0 4px 6px rgba(50,50,93,0.10),0 1px 3px rgba(0,0,0,0.05);
    }
    .password-toggle{
      position: absolute;
      right: 2.8rem;
      cursor: pointer;
    }
  }
  /*Ipad Pro Screen*/
  @media only screen and (min-width: 1025px) and (max-width: 1366px) {
    
  }
  /*For Larger Screens*/
  @media only screen and (min-width: 1024px) and (min-width: 1920px) {
    .password-toggle{
      position: absolute;
      right: 2.4rem;
      cursor: pointer;
    }
    .sidebar-nav-item{
    color: #ffffff;
    margin-top: 2em;
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
  }
    .sub-section-styled{
      margin-top: 3%;
      width: 85%!important;
      min-height: 720px!important;
      height: auto;
      border-radius: 6px;
      background-color: #ffffff;
      padding-bottom: 3.5em;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .sub-section-styled-apply{
      margin-top: 3%;
      width: 65%;
      min-height: 720px!important;
      height: auto;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .sub-section-styled-apply-inbox{
      margin-top: 3%;
      max-width: 60%;
      height: 80vh!important;
      border-radius: 6px;
      background-color: #ffffff;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .hide{
      display: none;
    }
    .sidebar-nav-item{
      color: #ffffff;
      margin-top: 2em!important;
      font-size: 28px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 15px!important;
      padding-bottom: 15px!important;
      text-decoration: none;
    }
    .stepper-wrapper{
      width: 15%;
      min-height: 720px!important;
      background-color: #ffffff;
      height: auto;
      margin-right: 85px;
      margin-top: 2.5%;
      border-radius: 6px;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
    .stepper-wrapper-inbox{
      width: 30%;
      height: 80vh!important;
      background-color: #ffffff;
      margin-right: 85px;
      margin-top: 2.5%;
      border-radius: 6px;
      box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    }
  }

  .main-sidebar{
      width: 15%;
      height: 100%;
      padding-left: 14px;
      padding-right: 14px;
      background-color: #008265;
      display: inline-flex;
      position: fixed;
      float: left;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      text-align: left!important;
      box-shadow:0 4px 6px rgba(50,50,93,0.10),0 1px 3px rgba(0,0,0,0.10);
  }
  .main-page{
      width: calc(85% - 28px);
      min-height: calc(100vh - 1em);
      float: right;
      height: auto;
      background-color: #F2F2F2;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      padding-bottom: 1em;
  }
  .wrapper-row{
      position: absolute;
      width: 100%;
      height: 100%;
  }
  .sidebar-nav-wrapper{
      display: flex;
      flex-direction: column;
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      align-content: space-around;
      align-items: center;
      justify-content: space-between;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      text-align: center;
  }
  .sidebar-nav-item-wrapper{
      display: flex;
      width: 100%;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .nav-item-icon{
    margin-right: 15px;
    align-self: center;
    margin-top: 3.5em;
  }
  .sidebar-nav-item{
    color: #ffffff;
    margin-top: 2em;
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
  }
  .sidebar-nav-item:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .sidebar-nav-item-not:hover{
    text-decoration: none!important;
  }
  
  .current{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    height: 100%;
    background-color: #ffffff;
    color: #008265;
    text-decoration: none;
  }
  .current:hover{
    text-decoration: none;
  }
  .logout-bottom{
    bottom: 0;
    margin-bottom: 2em;
    position: absolute;
  }
  .back-arrow{
    margin-right: 0.6em;
  }
  .back-wrapper{
    width: 20%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
  }
  .back-wrapper:hover{
    color: #008265;
  }
  .top-navbar{
    width: 100%;
    background-color: #ffffff;
    height: 3.5em;
    box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    border-top: 3px solid #008265;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .consume-space{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 55%;
    padding-left: 4em;
  }
  .right-navbar-items{
    width: 45%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5em;
    font-weight: 500;
  }
  .profile-info{
    margin-left: 6em;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
  }
  .profile-name{
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    margin-right: 0.5em;
    color: #757575;
    cursor: pointer;
  }
  .top-navbar-avatar{
    width: 40px;
    height: auto;
    margin-right: 1em;
  }
  .no-link-style{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  .section-styled{
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .sub-section-styled-actions{
    margin-top: 2.5%;
    width: 85%;
    min-height: 85%;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
  }
  .action-rounder{
    margin-left: 2.5em;
    margin-right: 0em;
    min-width: 90px;
    height: 15px;
    border-radius: 8px;
    width: auto;
    padding: 15px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
  }
  .action-rounder:hover{
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .icon-spacer{
    margin-right: 10px;
  }
  .sub-section-styled{
    margin-top: 2.5%;
    width: 85%;
    min-height: 470px;
    height: auto;
    border-radius: 6px;
    background-color: #ffffff;
    padding-bottom: 3.5em;
    box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
  }
  .sub-section-styled-apply{
    margin-top: 2.5%;
    width: 65%;
    min-height: 470px;
    height: auto;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
  }
  
  .green-color-override{
    width: 195px;
    height: 15px;
    background-color: #008265;
    color: #ffffff;
    box-shadow:0 4px 6px rgba(50,50,93,0.10),0 1px 3px rgba(0,0,0,0.10);
    cursor: pointer;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.23);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.3);
  }
  .green-color-override:hover{
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.5);
  }
  .flex-row-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .hide{
    display: none;
  }
  .stepper-wrapper{
    width: 15%;
    min-height: 470px;
    background-color: #ffffff;
    height: auto;
    margin-right: 55px;
    margin-top: 2.5%;
    border-radius: 6px;
    box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
  }
  .stepper-wrapper-inbox{
    width: 30%;
    height: calc(85vh - 1em);
    position: relative;
    background-color: #ffffff;
    margin-right: 15px;
    margin-top: 1.5%;
    border-radius: 6px;
    box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1em;
  }
  .sub-section-styled-apply-inbox{
    width: 65%;
    margin-top: 1.5%;
    height: calc(88vh - 2em);
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
  }
  .application-search-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .sub-green-color-override{
    margin-top: -1em;
    width: 30px;
    height: 30px;
    background-color: #008265!important;
    color: #ffffff;
    box-shadow:0 4px 6px rgba(50,50,93,0.10),0 1px 3px rgba(0,0,0,0.10);
    cursor: pointer;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.23);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.3);
  }
  .sub-green-color-override:hover{
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.5);
  }
  .action-rounder-sub{
    margin-right: 0.5em;
    margin-left: -0.4em;
    min-width: 30px;
    height: 30px;
    border-radius: 8px;
    width: auto;
    padding: 5px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow:0 4px 6px rgba(50,50,93,0.01),0 1px 3px rgba(0,0,0,0.01);
  }
  .action-rounder-sub:hover{
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .individual-application-wrapper{
    width: calc(100% -50px);
    min-height: 200px;
    height: auto;
    background-color: inherit;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .individual-application-wrapper:last-child{
    border-bottom: none!important;
  }
  .individual-application-heading{
    color: #008265!important;
    font-size: 23px;
    font-weight: 400;
    cursor: pointer;
    font-weight: 500;
  }
  .individual-application-heading:hover{
    text-decoration: underline;
  }
  .individual-application-view-more{
    font-size: 19px;
    cursor: pointer;
    color: #008265;
  }
  .individual-application-view-more:hover{
    text-decoration: underline;
  }
  .title-and-id-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .application-id{
    float: right;
    font-size: 18px;
    font-weight: 500;
  }
  .application-description{
    line-height: 28px;
    font-size: 18px;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .application-status{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .status-indicator-approved{
    width: 24px;
    height: 24px;
    background-color: #008265;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 0.6em;
  }
  .status-indicator-pending{
    width: 24px;
    height: 24px;
    background-color: #ffd500;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 0.6em;
  }
  .status-indicator-rejected{
    width: 24px;
    height: 24px;
    background-color:#FF3232;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 0.6em;
  }
  .pagination-wrapper-full{
    display: flex;
    flex-direction: row;
    width: 100%;
    float: right;
    margin-top: 2em;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    /*Needed to push the pagination to bottom in bigger screen especially when the inbox is empty*/
    top: 0;
  }
  .pagination-wrapper{
    display: flex;
    flex-direction: row;
    width: 50%;
    float: right;
    margin-top: 2em;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
  .individual-pagination-item{
    width: 16px;
    height: 16px;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    background-color: #008265;
    color: #FFFFFF;
    box-shadow:0 4px 6px rgba(50,50,93,0.05),0 1px 3px rgba(0,0,0,0.05);
  }
  
  .individual-pagination-item:hover{
    background-color: #FFFFFF;
    color: #008265;
    cursor: pointer;
  }
  .pagination-active{
    background-color: #FFFFFF;
    color: #008265;
    cursor: pointer;
  }
  .inbox-number{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-left: 0.5em;
    margin-right: 0.2em;
    border-radius: 50%;
    background-color: #FF3232;
    font-size: 18px;
    color: #FFFFFF;
  }
  .inbox-number:hover{
    text-decoration: none!important;
  }
  .item-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .nav-item-text-sub:hover{
    text-decoration: underline;
  }
  .settings-side-menu-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    padding: 0;
  }
  .individual-settings-menu{
    min-height: 5em;
    height: auto;
    width: calc(100% - 6px);
    border-right: 6px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.10);
    font-size: 22px;
    margin-top: 0px;
    box-shadow: none;
    cursor: pointer;
  }
  .individual-settings-menu:hover{
    border-right: 6px solid #008265;
    width: calc(100% - 6px);
  }
  .setting-menu-active{
    width: calc(100% - 6px);
    border-right: 6px solid #008265;
    color: #008265!important;
    border-bottom: none;
    box-shadow: none;
  }
  .add-bottom-border{
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.10);
  }
  .individual-inbox-menu{
    min-height: 6.8em;
    height: auto;
    width: calc(100% - 6px);
    border-right: 6px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.10);
    font-size: 22px;
    margin-top: 0px;
    box-shadow: none;
    cursor: pointer;
    padding-top: 0.2em;
  }
  .individual-inbox-menu:first-child{
    padding-top: 0!important;
  }
  .individual-inbox-menu:hover{
    border-right: 6px solid #008265;
    width: calc(100% - 6px);
  }
  .inbox-menu-active{
    width: calc(100% - 6px);
    border-right: 6px solid #008265;
    color: #008265!important;
    border-bottom: none;
    box-shadow: none;
  }
  .topper-items-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: calc(100% - 25px);
    padding-left: 15px;
    padding-right: 10px;
  }
  .individual-inbox-timestamp{
    font-size: 18px;
    color: #757575;
  }
  .individual-inbox-id{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
  }
  .message-summary{
    padding: 15px;
    margin-bottom: 0.2em;
    text-align: justify;
    font-size: 18px!important;
    color: #757575;
  }
  .new-inbox-notif{
    width: 13px;
    height: 13px;
    background-color: #008265;
    border-radius: 50%;
    margin-right: 0.5em;
  }
  .inbox-message-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    min-width: calc(100% - 4em);
    width: auto;
    height: calc(99% - 3.7em);
    padding-left: 2em;
    padding-right: 2em;
    overflow-y: scroll;
    position: relative;
  }
  .inbox-message-detail-title-date-time-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  .inbox-message-body{
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    color: #757575;
  }
  .inline-inbox-message-image{
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    width: 100%;
    height: auto;
  }
  .inbox-icon-box{
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 100%;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  }
  .inbox-icon-sub-box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 20px;
  }
  .inbox-sub-icon:hover{
    color: #008265;
    cursor: pointer;
  }
  .inbox-sub-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    
  }
  .reply-icon{
    margin-right: 0.5em;
  }
  .reply-box-wrapper{
    height: 53%;
    width: 100%;
    margin-bottom: 0.2em;
  }
  .reply-wrapper{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 1.5px;
    height: calc(100% - 30px);
    text-align: justify;
  }
  .reply-buttons-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
  }
  .ckeditor-class{
    height: 100%!important;
    width: 100%;
  }
  .reply-to, .reply-from, .reply-subject{
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    color: #757575;
  }
  .reply-subject{
    margin-bottom: 0.8em;
  }
  .strong-color-override{
    color: #000000;
  }
  .reply-attachment-wrapper{
    width: 100%;
    height: 4em;
    border: 1.5px dashed #757575;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1.8em!important;
  }
  .add-attachment-text{
    margin-left: 0.4em;
    text-decoration: none;
    color: #008265;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .add-attachment-text:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .attachment-icon{
    margin-right: 0.5em;
  }
  .attachemnt-buttons-seperator{
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
  .active-icon{
    color: #008265;
  }
  .close-icon-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  }
  .close-icon{
    cursor: pointer;
  }
  .close-icon:hover{
    color: #FF3232;
    cursor: pointer;
  }
  .not-verified-wrapper{
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #FF3232;
    color: #FFFFFF;
    font-size: 18px;
  }
  .not-verified-info-wrapper{
    width: 70%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #FF3232;
    color: #FFFFFF;
    font-size: 18px;
  }
  .warning-icon{
    margin-right: 1em;
  }
  .resolve-outline-btn{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 18px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    cursor: pointer;
  }
  .resolve-outline-btn:hover{
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
  }
  .player-container{
    width: 80%;
    height: auto;
  }